@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    cursor: url('cursor/cursor.cur'), auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

Header {
    width: 100%;
    height: 15vh;
    display: flex;
    /* border: solid 3px green; */
}

.ContainerTituloHeader {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightsalmon; */
}

.ContainerTituloHeader h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
}

.ContainerQuatroBandeiras {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.QuatroBandeiras {
    display: flex;
    gap: 3rem;
}

.BandeiraHeader {
    width: 100px;
    transition: 1s;
}

.BandeiraHeader:hover {
    transition: 1s;
    transform: scale(1.1);
}

/* MAIN */

#BannerBGImage {
    width: 100%;
    height: 35vw;
    background-image: url("imagens/18\(recortado\).png");
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0 -33vh; */
    /* background-attachment: fixed; */
    display: flex;
    align-items: center;
    padding: 0 0 0 4rem;
}

.tituloBanner {
    width: 40vw;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
}

#ContainerBandeiras {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5vw;
    padding: 3rem 1.5rem 3rem 1.5rem;
}

#ContainerBandeiras img{
    width: 250px;
    transition: 1s;
}

#ContainerBandeiras img:hover{
    transition: 1s;
    /* cursor: pointer; */
    transform: scale(1.1);
}

/* FOOTER */

footer {
    width: 100%;
    height: 25vh;
    background-color: lightgrey;
    /* border: solid 2px green; */
    display: flex;
}

.ContainerQuatroBandeirasFooter {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QuatroBandeirasFooter {
    display: flex;
    column-gap: 1.5vw;
}

.BandeiraFooter {
    width: 100px;
    transition: 1s;
}

.BandeiraFooter:hover {
    transition: 1s;
    transform: scale(1.1);
}

.IntegrantesGrupo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 0.5rem;
    padding-right: 9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.IntegrantesGrupo p {
    transition: 0.5s;
}

.IntegrantesGrupo p:hover {
    transition: 0.5s;
    color: lightcoral;
}

